name: Python Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.14-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-cpu.txt
          pip install -r requirements-dev.txt
          pip install pytest
      - name: Run tests
        run: |
          pytest tests/
